<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BusStop</key>
	<string>jAFDtnQS4DYvyBZT85CuHc%2BUt4pbbI2eNipkdspH4G%2F%2Be3bg8hpCAyRpkio3R8SSYoJTw0xgUNsFnHuQGiSVPw%3D%3D</string>
</dict>
</plist>
